<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8"/>
	<title>Query Error</title>
	<link rel="stylesheet" href="/templates/errorStyle.css" type="text/css">
</head>

<body>
	<h1>Oops...</h1>
	<div id = "m0">
	<div id ="m1">
	<h2>No user found with given credentials &#128531;</h2>

	<h4>You may try to:</h4>
	<ul>
		<li><a href="/query">Look up another profile</a></li>
		<br>
		<li><a href="/insertData">Create your own profile</a></li>
		<br>
		<li><a href="/deleteProfile">Try deleting another profile</a></li>
		<br>
		<li><a href="/">Visit the home page</a></li>
	</ul>
	</div></div>
</body>

</html>
