<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Query Error</title>
</head>

<body>
	<h1>No user found with given credentials &#128531;</h1>

	<h2>You may try to:</h2>
	<ul>
		<li><a href="/query">look up another profile</a></li>
		<br>
		<li><a href="/insertData">create your own profile!</a></li>
		<br>
		<li><a href="/">visit the Home page</a></li>
	</ul>

	<hr>
</body>

</html>
