<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>BMI Calculator</title>
</head>

<body>
	<h1>BMI Calculator</h1>

	<h2>Tools</h2>
	<ul>
		<li><a href="/insertData">Create New BMI Profile</a></li>
		<li><a href="/query">View Profile/Info</a></li>
		<li><a href="/">Delete Profile (UNDER CONSTRUCTION)</a></li>
	</ul>

	<hr>
</body>

</html>
