<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Data Collection</title>
    <link rel="stylesheet" href="/templates/insertStyle.css" type="text/css">
    <script>
        function unitsImp(x) {
            if(x.checked) {
                document.getElementById("wUnit").innerHTML = "lb";
                document.getElementById("hUnit1").innerHTML = "ft";
                document.getElementById("h2").style.visibility = "visible";
            }
        }
        function unitsM(x) {
            if(x.checked) {
                document.getElementById("wUnit").innerHTML = "kg";
                document.getElementById("hUnit1").innerHTML = "cm";
                document.getElementById("h2").style.visibility = "hidden";
            }
        }
        function submitForm() {
            return confirm('Ensure that User Info and unit system selection are correct!\nYou will only be able to update physical data later.')
        }
    </script>
</head>

<body>
    <h1>N E W &nbsp;&nbsp;U S E R &nbsp;&nbsp;R E G I S T R A T I O N</h1>
    <div id = "main1">
	<div class = "d1"><img src="/templates/images/Home.png" id = "hImg"></div>
    <div id = "d2">
	<form id = "f1" action=<%- formAction %> method="post" onSubmit="return confirm('Ensure the user info you entered is correct!\nYou will be able to update physical data later.')">
        
        <br><br>
            <label>Name:</label>
            <br><br>
            <input type="text" name="name" autofocus required>
            <br><br>
            <label>Email:</label>
            <br><br>
            <input type="email" name="email" required>
            <br><br>
            <label>Choose a unit system:</label><br><br>
            <input type="radio" id="imp" name="unit" value="imperial" onchange="unitsImp(this)" checked><label>Imperial</label>
            <input type="radio" id="met" name="unit" value="metric" onchange="unitsM(this)"><label>Metric</label>
           <br><div id="dataFields"><br>
            <label>Weight:</label>&nbsp;
            <input type="number" name="weight" min="1" max="600" required> <span id="wUnit">lb</span>
            <br><br>
            <label>Height:</label>&nbsp;&nbsp;
            <input type="number" name="height1" min="1" max="900" required> <span id="hUnit1">ft&nbsp;&nbsp;</span>
            <span id="h2"><input type="number" name="height2" min="0" max="11"> in</span></div>
        <br>
        <!-- for distinguishing b/w updates and new insertions -->
        <input type="hidden" name="flag" value="newProfile">
        <input type="reset" value="Reset Values"/>
		<input type="submit" value="Submit Data"/>
        <button><a href="/">Main Page</a></button>
	</form>
    </div>
    </div>
    <br>
</body>

</html>
