<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>User Profile Query</title>
    <script>
        function adjustText() {
            if ("<%- flag %>" === "delete")
                document.getElementById("submitBtn").value = "Delete Profile"
        }
        function confirmDelete() {
            if ("<%- flag %>" === "delete") {
                /* "successful", meaning if profile with given info exists */
                let msg = "If a profile with this user info exists, the deletion will go through.\n";
                msg += "Are you sure you want to delete this BMI profile? (This action cannot be undone!)";
                return confirm(msg);
            }
        }
    </script>
</head>

<body onload="adjustText()">
	<h1>Enter user info to lookup profile</h1>

	<form action="<%- formAction %>" method="post" onsubmit="return confirmDelete()">
        <label>Name:
            <input type="text" name="qName" id="qName" autofocus required>
        </label>
        &nbsp;
        <label>Email:
            <input type="email" name="qEmail" id="qEmail" required>
        </label>
        &nbsp; 
        <input type="submit" id="submitBtn" value="Find Profile"/>
    </form>
    <hr>
    <a href="/">HOME</a>
</body>

</html>

