<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Search Results</title>
    <link rel="stylesheet" href="/templates/searchStyle.css" type="text/css">
</head>

<body>
    <div id = "main1">
        <div id = "d2"><img src="/templates/images/img1.png"></div>
        <div id = "d1"> <h2>Your search results</h2>
            <%- searchData %> 
        </div>
    </div>
</body>
</html>