body {
    background-color: #8b8a63;
     background-repeat: no-repeat;
     background-size: cover;
 }
 body {
    animation: 10000ms ease-in-out infinite color-change;
  }
  
  @keyframes color-change {
    0% {
      background-color: #8b8a63;
    }
    20% {
      background-color: #7C8162;
    }
    40% {
      background-color: #4F523E;
    }
    60% {
      background-color: #282A20;
    }
    80% {
      background-color: #7C8162;
    }
    100% {
      background-color: #8b8a63;
    }
  }
 #main3 {
     display: flex;
 }
 #d5{
     color:#D6D9C9;
     height: 100em;
     float : left;
     width: 4em;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 2.7em;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
 }

 .icon {
    padding-left: 25px;
    background: url("/templates/images/icons8-google-48.png") no-repeat left;
    background-size: 20px;
  }
 
 label {
     margin-top: 10em;
     margin-left: 7em;
     font-size: 1.1em;
     font-family: Arial, Helvetica, sans-serif;
     color: #191a18;
 }

 #sr3 {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: #404140;
 }
 input[type = "text"], input[type = "email"] {
    margin-left: 10em;
     width: 25em;
     height: 2.5em;
     background-color: #EAECE4;
 }

 #sr2 {
    float: left;
    margin-top: 10em;
    margin-left: 20em;
     height: 360px;
     width: 650px;
     border-bottom: 5px solid #c6c8c0;
     border-right: 5px solid #c6c8c0;
 }

 #sr1 {
     float: left;
    height: 300px;
    width: 600px;
     background-image: linear-gradient(#afb0a8, #F8F9F6);
 }
 input[type = "submit"] {
     width: 10em;
     height: 3em;
     border-radius: 15px;
     background-color: #D6D9C9;
     margin-left: 17em;
     border: 1px solid #4F523E;
 }
#main1 {
        display: flex;
    }

#d1 {
    float: left;
    color: black;
    margin-left: 5em;
}

#d2 {
    float: left;
    margin-left: 5em;
    margin-top: 5em;
    border: 5px solid #e8e9e1;
    height: 480px;
    width: 550px;
}

img {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
    height: 400px;
    width: 450px;
}

table {
    background-color: #DEE1D4;
    border: 3px solid #706f5e;
}

th, td {
    border: 1px solid #9d9c7f;
    margin-top: 3em;
    height : 70px;
    width: 500px;
    text-align: center;
    
}
h2 {
    text-align: center;
}

hr {
    height: 3px;
    background-image: linear-gradient(90deg,#e8e9e1, transparent);
    border: 0;
}
#d6 {
    margin-top: 4em;
    margin-left: 7em;
    width: 300px;
}

a {
    color: #282a21;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

button {
    background-image: linear-gradient(90deg,#666a43, transparent);
    width: 20em;
    height: 3em;
    border-radius: 15px;
    border: 1px solid #8b8a63;
}

#bt1 {
    background-image: linear-gradient(90deg,#666a43, transparent);
    width: 20em;
    height: 3em;
    border-radius: 15px;
    border: 1px solid #8b8a63;
    margin-top: 2em;
    margin-left: 12em;
}