<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Search Results</title>
    <link rel="stylesheet" href="/templates/searchStyle.css" type="text/css">
</head>

<body>
    <div id = "main1">
        <div id = "d2">
            <div id = "slides">
                <div id = "box"><img src="/templates/images/img1.png"></div>
            </div>
            <div id = "d6">
                <button><a href="/searchPage">Another search?</a></button><br><br>
                <button><a href="/">Main Page</a></button>
            </div>
        </div>
        <div id = "d1"> <h2>S E A R C H  &nbsp;&nbsp; R E S U L T S</h2>
            <hr>
            <%- searchData %> 
        </div>
        
    </div>
    <script>
        let myImage = document.getElementById('box');

        let slides = ['/templates/images/img2.png', '/templates/images/img3.png', '/templates/images/img4.png', '/templates/images/img1.png'];
        let st = 0;

        function animate(){
            if(st < slides.length){
                st = st + 1;
            }
            else{
                st = 1;
            }
            myImage.innerHTML = "<img src=" + slides[st - 1] + ">";
        
        }
            setInterval(animate,2500);
        </script>
    
</body>
</html>