<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Search</title>
</head>

<body>

    <form id = "f1" action= "<%- formAction %>" method = "post">
        <label>Your search query</label><br><br>
        <input type="text" name="sQuery">
        <input type = "submit" value = "search">
    </form>
</body>
</html>
